.jumbotron {
    margin-bottom: 4em;
}

.btn-primary {
    background-color: aquamarine;
}

.h3 {
    margin-bottom: 1em;
}

.header-image {
    width: 100%;
    margin-top: -10em;
    margin-bottom: -5em;
}

.profile-pic {
    width: 30%;
}