.header-image {
    margin-bottom: 2em;
}

.gbInfo {
    color: brown;
    font-style: italic;
}

.gbUnder {
    margin-top: 10em;
    text-align: center
}

.gbForm {
    margin-top: 10em;
}

.table {
    margin-bottom: 5em;
}